@import '../../../base';
@import '../graphic/indicator-base';

.indicator.chart.filter {
  height: 100%;

  .ui.fluid.dropdown {
    display: block;
    width: 100%;
    height: 32px;
    min-width: $filter-min-width;
    max-width: $filter-max-width;
    font-size: $property-font-size;
    border: 1px solid #ced0da;
    float: left;
    border-radius: 4px;
    background-image: linear-gradient(0deg, #f1f3f7 0%, #ffffff 100%);
  }
  cursor: pointer;

  .text {
    font-weight: normal;
    line-height: inherit;
    padding-left: 16px;
    font-size: $property-font-size;
    height: 100%;
    width: 100%;
    max-width: calc(100% - 15px);
    white-space: nowrap;

    .breadcrums {
      display: inline-flex;
      align-items: center;
      height: 100%;
      max-width: 100%;
      width: 100%;
      margin-right: 10px;

      .filterName {
        font-weight: 600;
        font-size: $property-font-size;
        color: #364833;
        padding-right: 10px;
      }
      .filterValue {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
      .description {
        font-size: 11px;
        color: #747474;
      }
      .icon-down-arrow {
        float: right;
      }
    }
  }

  .options {
    display: block;
  }

  .menu {
    border-radius: 0;
    background-color: #FFF !important;
    border: 0;
    margin-left: 0;
    min-width: inherit;
    max-width: $filter-item-max-width;

    .filter-item-tooltip {
      pointer-events: auto;
    }

    .item {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .header {
      line-height: 22px;
      padding: 10px 10px 0;
      text-align: left;
      margin: 0;
      font-size: 14px;
      color: $color-green;
      text-transform: none;

      span {
        cursor: pointer;
        font-size: 11px;
        color: #000;
      }
    }
  }


  .icon-down-arrow {
    vertical-align: middle;
    height: 10px;
    width: 10px;
  }

  .dropdown.icon {
    display: none;
    float: right;
    margin-right: 7px;
    height: 100%;
  }
  .dropdown.icon:before {
    font-size: 14px;
    display: inline-block;
    height: 100%;
    .chrome & {
      vertical-align: -50%;
    }
  }

  .visible {
    color: $color-green;
    background-color: #f6f6f6;
    border: 1px solid $border-color;
  }

  div.checkbox {
    margin-left: 0;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: -2px;
    border: 1px solid $border-color;
    border-radius: 4px;
  }

  div.checkbox.checked {}

  div.checkbox.checked::before {
    content: '';
    background-color: #8dc63f;
    margin-left: -1px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: -1px;
    border: 1px solid $border-color;
    border-radius: 4px;
    position: absolute;
    padding-left: 2px;
  }

  .filter.item {
    max-height: $property-max-height;
    min-height: $property-min-height;
    height: calc(12px + 5.5vh) !important;
    margin-left: 21px;

    &.fixed {
      min-width: $filter-fixed-width;
    }

    &.small {
      height: 100% !important;
    }

    .ui.input.search {
      margin: 11px;
    }

    .filter-group {
      display: block;
      margin-top: -6px;

      .menu {
        display: flex;
        flex-wrap: wrap;
        position: initial;
        margin-left: 0 !important;
        border-bottom: 1px solid $border-color;

        &.tabular {
          .item {
            padding-right: 0 !important;
            max-width: calc(100% - 16px);
            width: auto;
          }
          a::after {
            padding-left: 16px;
            content: '';
            font-size: 12px;
            border-right: 1px solid $border-color;
          }
          a:last-child::after {
            border: 0;
          }
        }
      }
      .ui.bottom.attached.segment.tab {
        padding: 0;
        border: 0;
        margin: 0;
      }
    }
  }

  &.two-filters .filter.item {
    @include rwd-max(750) {
      min-width: $filter-min-width-small;
    }
    .ui.fluid.dropdown {
      @include rwd-max(750) {
        min-width: $filter-min-width-small;
      }
    }
    .menu {
      @include rwd(880) {
        width: auto;
      }
      @include rwd-max(880) {
        max-width: inherit !important;
      }
    }
  }

  &.three-filters .filter.item {
    @include rwd-max(1070) {
      min-width: $filter-min-width-small;
    }
    .ui.fluid.dropdown {
      @include rwd-max(1070) {
        min-width: $filter-min-width-small;
      }
    }
    .menu {
      @include rwd(1105) {
        width: auto;
      }
      @include rwd-max(1105) {
        max-width: inherit !important;
      }
    }
  }

  &.five-filters .filter.item {
    @include rwd-max(1440) {
      min-width: $filter-min-width-small;
    }
    .ui.fluid.dropdown {
      @include rwd-max(1440) {
        min-width: $filter-min-width-small;
      }
    }
    .menu {
      @include rwd(1550) {
        width: auto;
      }
      @include rwd-max(1550) {
        max-width: inherit !important;
      }
    }
  }
}
