/**
 * @file
 * This file contains the basic style for any page.
 */

html {
    /*
     * Always show page scroll-bar to prevent side-movement when hovering over items that are extending their height and
     * suddenly the content doesn't fit above the fold.
     */
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px !important;
}

.container {
    width: 100%;
}

.mainHeader.with-navbar-default .navbar-default {
    /*
     * The mainHeader navbar should not have rounded borders when it is not fixed.
     *
     * @see: Navbar.Position.DEFAULT
     * @see: bootstrap::navbar.less
     */
    border-radius: 0;
}

.mainHeader.with-navbar-fixed-top {
    /*
     * The mainHeader doesn't have any height when the navbar is fixed, and other elements are behind it.
     *
     * HACK: The default bootstrap navbar is 50px height and has a bottom margin of 20px for the default font size.
     *
     * TODO: Convert to LESS and use Bootstrap variables.
     * @see: Navbar.Position.TOP
     * @see: bootstrap::navbar.less
     */
    min-height: 50px;
    margin-bottom: 32px;
}

.rebootAlert {
    position: fixed;
    top: 50px;
    padding: 6px;
    text-align: center;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    z-index: 1029;
}

.mainContainer {
    /*
     * The main page content should have some height.
     */
    min-height: 20em;
    width: 1170px;
}

.mainFooter {
    /*
     * Add some spacing around the footer.
     */
    margin-top: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #222;
}

/* file upload
-------------------------------------------------- */
.file-preview.loading {
    background: transparent url('./assets/img/ajax-loader.gif') no-repeat scroll center center content-box !important;
}

.revision-data-div {
    width: 50em;
    overflow-x: auto;
    white-space: nowrap;
}

/* Edit Entity Styles
-------------------------------------------------- */
.revision-data-div {
    width: 50em;
    overflow-x: auto;
    white-space: nowrap;
}

.autosave {
    display: block;
    margin-bottom: 12px;
}

hr.edit-separator {
    margin: 0;
    padding: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(220, 220, 220, 0), rgba(220, 220, 220, 0.75), rgba(220, 220, 220, 0));
}

.checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.month-day-picker {
    display: inline-block;
    width: 200px;
}


.sleep-mode .sleep-value {
    padding-top: 5px;
    font-weight: bold;
    color: #00589e;
    font-size: 0.9em;
}

.sleep-mode {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sleep-label {
  font-weight: bold;
}

/* List View Styles
-------------------------------------------------- */
.section-bordered {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #00589e;
}

.pane {
    padding: 20px 0;
    margin-bottom: 0;
}

.pane.title {
    overflow: hidden;
}

.pane.title h4 {
    font-weight: bold;
    color: #00589e;
    float: left;
}

.pane .count {
    font-weight: bold;
    color: #858585;
    float: left;
    padding-left: 10px;
    line-height: 40px;
}

.pane .show-all {
    float: right;
    font-size: 12px;
    line-height: 40px;
    font-style: italic;
    font-weight: bold;
}

.accordion-toggle .show-all {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

.show-all:hover {
    color: #66b558;
}

.select2.select2-container {
    width: 100% !important;
}

.list-wrapper .accordion-toggle .form-group {
    margin-bottom: 0;
}

.list-wrapper .list-number {
    float: left;
    color: #00589e;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.section-title {
    color: #2e6da4;
    font-size: 12pt;
    font-weight: bold !important;
}

.link-column {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.link-column:hover {
    cursor: pointer;
    text-decoration: underline;
    color: slategrey;
}

.required .control-label:after {
    color: #e32;
    content: ' *';
    display: inline;
}
/* ---------------------------------------------------------------------- */
/*  Dropdown menu for bootstrap 3
/* ---------------------------------------------------------------------- */

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    margin-top: 8px;
    margin-right: -14px;
    vertical-align: middle;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid;
}
.dropdown-submenu span.caret {
    display: none;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.btn.dropdown-toggle {
    text-align: left;
}

/* ---------------------------------------------------------------------- */
/*  Rainfall
/* ---------------------------------------------------------------------- */
.rainfall .form-group {
    margin-bottom: 0;
}

.rainfall .form-group .form-control {
    margin-top: -16px;
}

.start-day-month .form-group {
    margin-bottom: 0;
    margin-top: -16px;
}

.rain-reference-table .table > tbody > tr > td {
    padding: 8px 4px;
}

.rain-reference-month-col {
    width: 15%;
}

.rain-reference {
    display: table-cell;
}

.rain-reference .form-group .form-control {
    padding: 6px 1px;
    text-align: center;
}

.rain-reference-decadal {
    display: inline-block;
    width: 33%;
}

.zone {
    width: 95px;
    min-width: 95px;
}

.with-error {
    color: #a94442;
}
.pagination > li.with-error > a {
    color: #a94442;
}
.pagination > li.active.with-error > a {
    background-color: #eeb9b8;
    border-color: #a94442;
}

.navigation .page-size-selector {
    float: left;
    margin: 20px 0;
}

.pagination > li > a[disabled='disabled'].first,
.pagination > li > a[disabled='disabled'].prev,
.pagination > li > a[disabled='disabled'].next,
.pagination > li > a[disabled='disabled'].last {
    color: gray;
    cursor: default;
    background-color: #fff;
}
.menuTree {
    padding-bottom: 30px;
}
.menuTree .tree-branch:not(:first-child) {
    padding-top: 10px;
}
.menuTree ul {
    display: inline-block;
    padding-left: 0;
}
.menuTree .actions li {
    display: inline-block;
    padding-left: 4px;
}
.menuTree.tree-theme-windows span.tree-content a.actionButton {
    padding: 6px 9px;
    color: #fff;
}
.menuTree.tree-theme-windows span.tree-content a.upDownButton {
    padding: 6px 9px;
    border: 0;
}

/* ---------------------------------------------------------------------- */
/*  Rain season
/* ---------------------------------------------------------------------- */
.list-rain-season .pageDescription {
    background-color: #d9edf7;
    border: 1px #bce8f1 solid;

    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}

/* ---------------------------------------------------------------------- */
/* Data Entry Dashboard
/* ---------------------------------------------------------------------- */
.progress-status-table {
    table-layout: fixed;
    margin-bottom: 0;
}
.progress-status-table td.gray, .progress-status-legend .gray {
    background-color: lightgray;
}
.progress-status-table td.red, .progress-status-legend .red {
    background-color: #d9534f;
}
.progress-status-table td.green, .progress-status-legend .green {
    background-color: #5cb85c;
}
.progress-status-table td.yellow, .progress-status-legend .yellow {
    background-color: #f0ad4e;
}
/*.progress-dashboard .col-progress, .progress-dashboard .col-indicator, .progress-dashboard .col-source {*/
/*    padding-top: 6px;*/
/*}*/
.progress-dashboard .panel-body {
    padding: 0;
}
.progress-dashboard .table-row {
    display:flex;
}
.progress-dashboard .col-expand {
    flex: 1;
}
.progress-dashboard .col-edit {
    width: 40px;
}
.progress-dashboard .table-body .col-expand {
    border-width: 0 1px 0 0;
    border-color: #d0d0d0;
    padding: 15px;
}
.progress-dashboard .table-body .col-edit {
    padding-top: 15px;
}
.progress-dashboard .table-header .table-row {
    padding: 15px;
}
.progress-dashboard .progress {
    margin-bottom: 0;
}
.tab-gtp-status .col-location {
    width: 200px;
}
.tab-river-station-status .col-river-station {
    width: 150px;
}
.tab-product-price-and-availability-status .col-product-type {
    width: 200px;
}
.expand-button {
    text-align: left;
    white-space: normal;
}
.expand-button .progressWrapper {
    display: flex;
}
.expand-button .progress {
    flex: 1;
}
.expand-button .icon {
    padding-left: 9px;
}

/* ---------------------------------------------------------------------- */
/* Home Page
/* ---------------------------------------------------------------------- */

.btn-homepage {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 15px;
    text-align: center;
}

button .btn-home-label {
    white-space: normal;
    line-height: 20px;
}
