@import '../base.scss';

.analytic {
  font-family: $font;
}

.analytic.container {
  margin: auto;
  width: $content-width;

  .pvtFilteredAttribute {
    display: block;
    border: 2px solid green !important;
  }

  .analytic.title {
    background-color: #FFF;
    border-bottom: 2px solid $border-color;
    height: 54px;
    color: #73a745;
    margin-top: 50px;

    p {
      font-size: 36px;
      line-height: 36px;
      float: left;
      margin: 0;
    }
  }

  .analytic.title::before {
    content: '';
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 17px;
    margin-left: 0;
    background-repeat: no-repeat;
    background-size: 40px 40px;

    background-image: url("/page_icon_market.svg");

  }

  .analytic.production::before {
    background-image: url("/page_icon_production.svg");
  }

  .analytic.consumption::before {
    background-image: url("/page_icon_consumption.svg");
  }

  .analytic.market::before {
    background-image: url("/page_icon_market.svg");
  }

  .analytic.subtitle {
    margin-top: 20px;
    background-color: #FFF;
    height: 54px;

    p {
      font-size: 30px;
      float: left;
      margin: 0;
      color: #73a745;
    }
  }

  .analytic.description {
    background-color: #FFF;
    display: block;
    height: 100px;

    p {
      font-size: 21px;
      float: left;
      margin: 0;
      color: #646464;
    }
  }
.no.data.message.container{
  min-height: 200px;
  background-color: #FFF!important;

}
  .analytic.table {
    overflow-x: auto;
    overflow-y: visible;
    width: $page-width;
    padding: 20px;
    margin-bottom: 20px;
  }

  .analytic.table::-webkit-scrollbar-button {
    width: 96px;
    height: 96px;
  }

  .analytic.table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .analytic.table::-webkit-scrollbar {
    width: 22px;
    background-color: #FFF;
    border-radius: 2px;
  }

  .analytic.table::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
    border-radius: 2px;
  }

  .analytic.table::-webkit-scrollbar {
    width: 23px;
    height: 23px;
  }

  .analytic.table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #76a94a;
    border-radius: 2px;
  }

  .analytic.table.description {
    border: 1px solid #e6e7ec;
    display: flex;
    padding: 0 0 0 20px;
    background-color: #f6faf5;
    height: 83px;

    p {
      line-height: 83px;
      color: #497423;
      font-size: 24px;
    }
  }

  .pvtUi {
    font-size: 10px;
    font-family: $font;
  }

  .pvtAttr {
    background-color: #FFF;
    padding: 2px 5px;
    line-height: 18px;
    border: 1px solid $border-color;
    border-radius: 4px;
    display: block;
    color: #364833;
    font-weight: bold;
  }

  .pvtDropdown {
    padding: 0;
    line-height: 20px;
    text-transform: none;

    .pvtDropdownCurrent {
      border: 1px solid $border-color;
    }
  }

  .pvtTable {
    td,
    th {
      border: 1px solid $border-color;
    }

    th {
      text-transform: none !important;
    }

    td {
      vertical-align: middle;
    }

    tr:nth-child(even) {
      background: #f7f7f7;
    }

    tr:nth-child(odd) {
      background: #FFF;
    }
  }

  .pvtTriangle {
    float: right;
    margin-left: 10px;
  }

  .pvtRows,
  thead th {
    background-color: #f6fcff;
  }

  .pvtVal {
    vertical-align: middle;
    height: 50px;
  }

  .pvtAxisLabel,
  .pvtRowLabel,
  .pvtTotalLabel,
  .pvtVal {}

  td,
  th {
    font-family: $font !important;
    color: #354833;
    text-transform: uppercase;
    background-color: inherit;
    padding: 5px;
    font-size: 11px;
  }

  .pvtAxisLabel,
  .pvtColLabel {
    height: 28px;
    padding: 20px;
  }


  .pvtHorizList {
    padding: 5px;
    background-color: #fff1f1 ;
  }

  .pvtCols {
    background-color:#f2f2f2;
  }

  .pvtGrandTotal {
    background-color: #ebf7e8;
    height: 80px;
  }

  .pvtTotal,
  .pvtTotalLabel {
    background-color: #ebf7e8;
  }

  .pvtFilterBox {
    padding: 10px;
    font-family: $font;
    font-size: 18px;

    input {
      height: 30px;
      border-radius: 0;
      margin-bottom: 10px;
    }

    .pvtButton {
      font-size: 11px;
      background-color: #FFF;
      border: 1px solid #e6e7ec;
      border-radius: 4px;
      color: #364833;
      font-weight: bold;
    }

    a {
      color: #000;
    }

    .pvtCheckContainer {
      a {
        background-color: inherit;
        text-decoration: none;
        text-transform: none;
      }
    }
  }

  .attrList {
    display: flex;
    flex-flow: wrap;
    border: 1px dashed #CCC;
    min-height: 60px;
    border-radius: 4px;
    max-width: 300px;

  }

  .pvtRows {
    .attrList {

    }

    li {
      margin: 0px;
      flex-direction: row;
      flex: 1 100%;
    }
    li:last-child{
      margin-bottom: 40px;
    }
  }

  .pvtHelpTip {
    margin-top: 5px;
    font-family: $font;
    max-width: 400px;
    text-align: center;
    float: left;
    text-align: center;
    position: relative;
    margin-bottom: 2em;
    height: 32px;
    padding: 5px;
    margin-right: 30px;
    box-sizing: border-box;
    background: #bada55;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .pvtCols,
  .pvtUnused {
    .pvtHelpTip::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      margin-left: -0.5em;
      bottom: -22px;
      right: -22px;
      box-sizing: border-box;
      border: 1em solid black;
      border-color: transparent transparent #bada55 #bada55;
      transform-origin: 0 0;
      transform: rotate(225deg);
    }
  }

  .pvtRows {
    .pvtHelpTip {
      margin: auto auto 20px;
      position: relative;
      float: none;
    }

    .pvtHelpTip::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      margin-left: -0.5em;
      bottom: -2em;
      left: 50%;
      box-sizing: border-box;
      border: 1em solid black;
      border-color: transparent transparent #bada55 #bada55;
      transform-origin: 0 0;
      transform: rotate(-45deg);
    }
  }
}
