@import '../base.scss';

.analytic {
  font-family: $font;
}

.analytic.container {
  margin: auto;
  width: $page-width;

  .pvtFilteredAttribute {
    display: block;
    border: 2px solid green !important;
  }

  .analytic.title {
    background-color: #FFF;
    border-bottom: 2px solid $border-color;
    height: 54px;
    color: #73a745;
    margin-top: 50px;

    p {
      font-size: 36px;
      line-height: 36px;
      float: left;
      margin: 0;
    }
  }

  .analytic.title::before {
    content: '';
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 17px;
    margin-left: 0;
    background-image: url("/icon_analytic.png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
  }

  .analytic.subtitle {
    margin-top: 20px;
    background-color: #FFF;
    height: 54px;

    p {
      font-size: 30px;
      float: left;
      margin: 0;
      color: #73a745;
    }
  }

  .analytic.description {
    background-color: #FFF;
    display: block;
    height: 100px;

    p {
      font-size: 18px;
      float: left;
      margin: 0;
      color: #646464;
    }
  }

  .analytic.table {
    overflow-x: auto;
    overflow-y: visible;
    width: $page-width;
    padding: 20px;
    margin-bottom: 20px;
  }

  .analytic.table::-webkit-scrollbar-button {
    width: 96px;
    height: 96px;
  }

  .analytic.table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .analytic.table::-webkit-scrollbar {
    width: 22px;
    background-color: #FFF;
    border-radius: 2px;
  }

  .analytic.table::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
    border-radius: 2px;
  }

  .analytic.table::-webkit-scrollbar {
    width: 23px;
    height: 23px;
  }

  .analytic.table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #76a94a;
    border-radius: 2px;
  }

  .analytic.table.description {
    border: 1px solid #e6e7ec;
    display: flex;
    padding: 0px;
    padding-left: 20px;
    background-color: #f6faf5;
    height: 83px;
    p{
      line-height: 83px;
      color: #497423;
      font-size: 24px;

    }
  }

  .pvtUi {
    font-size: 10px;
    font-family: $font;
  }

  .pvtAttr {
    background-color: #FFF;
    padding: 2px 5px;
    line-height: 18px;
    border: 1px solid $border-color;
    border-radius: 4px;
    display: block;
    color: #364833;
    font-weight: bold;
  }

  .pvtDropdown {
    padding: 0;
    line-height: 20px;
    text-transform: none;

    .pvtDropdownCurrent {
      border: 1px solid $border-color;
    }
  }

  .pvtTable {
    td,
    th {
      border: 1px solid $border-color;
    }

    th {
      text-transform: none !important;
    }

    td {
      vertical-align: middle;
    }

    tr:nth-child(even) {
      background: #f7f7f7;
    }

    tr:nth-child(odd) {
      background: #FFF;
    }
  }

  .pvtTriangle {
    float: right;
    margin-left: 10px;
  }

  .pvtRows,
  thead th {
    background-color: #f6fcff;
  }

  .pvtVal {
    vertical-align: middle;
    height: 50px;
  }

  .pvtAxisLabel,
  .pvtRowLabel,
  .pvtTotalLabel,
  .pvtVal {}

  td,
  th {
    font-family: $font !important;
    color: #354833;
    text-transform: uppercase;
    background-color: inherit;
    padding: 5px;
    font-size: 11px;
  }

  .pvtAxisLabel,
  .pvtColLabel {
    height: 28px;
    padding: 20px;
  }

  .pvtHorizList {
    padding: 5px;
    background-color: #f2f2f2;
  }

  .pvtCols {
    background-color: #fff1f1;
  }

  .pvtGrandTotal {
    background-color: #ebf7e8;
    height: 80px;
  }

  .pvtTotal,
  .pvtTotalLabel {
    background-color: #ebf7e8;
  }
}
