@import "../../../base";

.tooltip {
  color: #000;
  background-color: #FFF;
  position: absolute;
  -webkit-box-shadow: 7px 9px 15px -9px rgba(0,0,0,0.66);
  -moz-box-shadow: 7px 9px 15px -9px rgba(0,0,0,0.66);
  box-shadow: 7px 9px 15px -9px rgba(0,0,0,0.66);
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;

  .square {
    margin-right: 4px;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 4px;
  }

  .label {
    line-height: 22px;
    float: left;
  }
}

.national.container {
  margin: auto;
  width: $content-width;

  .national.title {
    background-color: #FFF;
    border-bottom: 2px solid $border-color;
    height: 54px;
    color: #73a745;
    margin-top: 50px;
    margin-bottom: 20px;

    p {
      font-size: 36px;
      line-height: 36px;
      float: left;
      margin: 0;
    }
  }

  .national.title::before {
    content: '';
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 17px;
    margin-left: 0;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-image: url("/page_icon_national_indicators.svg");
  }

  .national.description {
    background-color: #FFF;
    display: block;
    height: 100px;

    p {
      font-size: 21px;
      float: left;
      margin: 0;
      color: #646464;
    }
  }
  //------------->
  .buttons {
    div {
      cursor: pointer;
    }
  }

  .add {
    margin-right: auto 0;
    cursor: pointer;
  }

  .remove {
    cursor: pointer;
  }

  .aling.rigth {
    text-align: right;
    padding-right: 10px;
    margin-bottom: 20px;
  }

  .grid {
    margin-bottom: 0;
  }

  .column {
    padding-bottom: 40px !important;
  }

  .national.chart.container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;

    .national.filter.container {
      padding: 10px;
      width: 100%;
      height: 60px;
      line-height: 60px;
      border: 1px solid #e6e7ec;
      margin-bottom: 3px;

      .dropdown.icon {
        float: right;
        margin-right: 5px;
        margin-top: 5px;
      }

      .item {
        .checkbox {
          margin-bottom: 5px;
        }
        white-space: pre-line !important;
        cursor: pointer !important;
      }

      .filter.item.indicator {
        width: 70%;
        padding-right: 5px;
      }

      .filter.item.indicator.wide {
        width: 100%;
        padding-right: 5px;
      }

      .filter.item.color {
        width: 30%;
      }

      .filter.item {
        float: left;
        cursor: pointer;

        .text {
          padding-left: 4px;

          .breadcrums {
            span {
              font-size: 11px;
            }
          }
        }
      }
    }

    .national.chart.wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1 !important;
      background-color: #f9f9f9;
      border: 1px solid $border-color;
      border-radius: 4px;

      .chart.group {
        .yLeyend {
          color: rgb(51, 51, 51);
          transform: rotate(-90deg);
          position: absolute;
          font-weight: 600;
          margin: 200px auto auto -5px;
        }

        .national.chart {
          height: 430px;
          padding-bottom: 20px;
          width: 100%;

          .description text {
            font-size: 13px !important;
          }

          g.marker {
            rect {
              pointer-events: all;
            }
          }

          g {
            pointer-events: all;
          }
        }

        .xLeyend {
          padding: 10px;
          margin: -20px auto 0 0;
          text-align: center;
          color: rgb(51, 51, 51);
          font-weight: 600;
          min-height: 80px;
        }
      }

      .legend.group {
        display: inline-flex;
        flex-direction: column;
        flex-grow: 1;

        .description {
          flex-grow: 1;
          clear: both;
          padding: 10px 20px;
          color: #000;
          font-size: 12px;
        }

        .source {
          clear: both;
          font-weight: bold;
          padding: 0 10px;
          color: #000;
          font-size: 12px;
          margin-bottom: 7px;
        }

        .measureGroup {
          display: flex;

          .marketLegend {
            width: 140px;
            padding: 5px;
            color: #000;
            font-size: 11px;

            .market {
              display: flex;
              text-align: left;
              clear: both;
            }

            .decending {
              display: flex;
              line-height: 30px;
              font-size: 11px;
              font-weight: bold;
              justify-content: flex-start;

              .arrow {
                margin-left: -4px;
                margin-top: 8px;
                height: 20px;
              }
              color: #000;
            }

            .market:before {
              content: '';
              width: 5px;
              height: 22px;
              float: left;
              border: 1px;
              border-radius: 2px;
              margin: -2px 5px 5px;
            }

            .market.reference:before {
              background-color: #f88d59;
            }

            .market.target:before {
              background-color: #72a9e0;
            }
          }

          .measureLegend {
            flex-grow: 1;
            float: right;
            padding: 5px 5px 5px 20px;
            color: #000;
            font-size: 11px;

            .measure {
              text-align: right;
              clear: both;
              padding-right:40px;

            }

            .measure:before {
              display: block;
              content: '';
              width: 30px;
              margin-right: -40px;
              height: 12px;
              float: right;
              border: 1px;
              border-radius: 4px;
              margin-left: 5px;
              margin-top: 4px;
            }

            .measure.good:before {
              background-color: #addd8e;
            }

            .measure.regular:before {
              background-color: #fad976;
            }

            .measure.bad:before {
              background-color: #ef6548;
            }

            .measure.none:before {
              background-color: #bababa;
            }
          }
        }
      }
    }
  }
}
