@import "../base.scss";

.tooltip {
  color: #000;
  background-color: #FFF;
  position: absolute;
  -webkit-box-shadow: 7px 9px 15px -9px rgba(0,0,0,0.66);
  -moz-box-shadow: 7px 9px 15px -9px rgba(0,0,0,0.66);
  box-shadow: 7px 9px 15px -9px rgba(0,0,0,0.66);
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;

  .square {
    margin-right: 4px;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 4px;
  }

  .label {
    line-height: 22px;
    float: left;
  }
}

.national.container {
  margin: auto;
  width: $page-width;

  .national.title {
    background-color: #FFF;
    border-bottom: 2px solid $border-color;
    height: 54px;
    color: #73a745;
    margin-top: 50px;
    margin-bottom: 20px;

    p {
      font-size: 36px;
      line-height: 36px;
      float: left;
      margin: 0;
    }
  }

  .national.title::before {
    content: '';
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 17px;
    margin-left: 0;
    background-image: url("/icon_microdata.png");
    background-repeat: no-repeat;
    background-size: 32px 35px;
  }

  .national.description {
    background-color: #FFF;
    display: block;
    height: 100px;

    p {
      font-size: 18px;
      float: left;
      margin: 0;
      color: #646464;
    }
  }
  //------------->
  .buttons {
    div {
      cursor: pointer;
    }
  }

  .add {
    margin-right: auto 0;
    cursor: pointer;
  }

  .remove {
    cursor: pointer;
  }

  .aling.rigth {
    text-align: right;
    padding-right: 10px;
    margin-bottom: 20px;
  }

  .national.chart.container {
    width: 100%;
    margin-bottom: 10px;

    .national.filter.container {
      display: block;
      clear: both;
      width: 100% !important;
      height: 55px;

      .ui.fluid.dropdown {
        width: 100%;
        font-weight: bold;
        color: #818181;
        background-color: #f6faf5;
        height: 52px;
        margin: 0;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 5px;
        border: 1px solid $border-color;
        border-radius: 3px;

        .menu {
          overflow: visible;
          padding-bottom: 20px;
          max-width: 666px;
          width: 100% !important;

          margin-bottom: 20px;
        }

        .text {
          line-height: 40px;
          margin: auto;
          width: 90%;
          font-size: 16px;
          overflow: hidden;
          height: 40px;
        }

        .divider {
          display: none;
        }

        div.tooltip {
          position: absolute;
          text-align: center;
          width: 120px;
          padding: 2px;
          font: 12px $font;
          background: $color-green;
          border: 0;
          border-radius: 8px;
          pointer-events: none;
        }

        div.checkbox {
          margin-left: 5px;
          margin-right: 5px;
          width: 15px;
          height: 15px;
          float: left;
          margin-top: -2px;
          border: 1px solid $border-color;
          border-radius: 4px;
        }

        div.checkbox.checked {}

        div.checkbox.checked::before {
          content: '';
          background-color: #8dc63f;
          margin-left: -1px;
          margin-right: 5px;
          width: 15px;
          height: 15px;
          float: left;
          margin-top: -1px;
          border: 1px solid $border-color;
          border-radius: 4px;
          position: absolute;
          padding-left: 2px;
        }
      }


      .dropdown.icon {
        float: right;
        margin-right: 5px;
        margin-top: 5px;
      }

      .item {

        .checkbox{
          margin-bottom: 5px;
        }
        white-space: pre-line !important;

        cursor: pointer !important;
      }

      .filter.item.indicator {
        width: 70%;
        padding-right: 5px;
      }

      .filter.item.indicator.wide {
        width: 100%;
        padding-right: 5px;
      }

      .filter.item.color {
        width: 30%;
      }

      .filter.item {
        float: left;
        cursor: pointer;

        .text {
          padding-left: 4px;

          .breadcrums {
            span {
              font-size: 11px;
            }
          }
        }
      }
    }

    .national.chart.wrapper {
      background-color: #f9f9f9;
      border: 1px solid $border-color;
      border-radius: 4px;
      display: block;
      height: 100%;
      overflow: hidden;

      .yLeyend {
        color: rgb(51, 51, 51);
        transform: rotate(-90deg);
        position: absolute;
        font-weight: 600;
        margin: 200px auto auto -5px;
      }

      .xLeyend {
        padding: 10px;
        margin: -20px auto 10px;
        text-align: center;
        color: rgb(51, 51, 51);
        font-weight: 600;
      }

      .description {
        clear: both;
        padding: 10px 20px;
        color: #000;
        font-size: 12px;
      }

      .source {
        text-align: right;
        clear: both;
        font-weight: bold;
        padding: 10px 20px;
        color: #000;
        font-size: 12px;
        margin-bottom: 7px;
      }

      .marketLegend {
        padding: 5px 20px;
        color: #000;
        font-size: 11px;
        float: left;

        .market {
          text-align: left;
          clear: both;
        }

        .market:before {
          content: '';
          width: 5px;
          height: 22px;
          float: left;
          border: 1px;
          border-top-right-radius: 2px;
          border-top-left-radius: 2px;
          border-bottom-right-radius: 2px;
          border-bottom-left-radius: 2px;
          margin: -2px 5px 5px;
        }

        .market.reference:before {
          background-color: #f88d59;
        }

        .market.target:before {
          background-color: #72a9e0;
        }
      }

      .measureLegend {
        float: right;
        padding: 5px 20px;
        color: #000;
        font-size: 11px;

        .measure {
          text-align: right;
          clear: both;
        }

        .measure:before {
          content: '';
          width: 50px;
          height: 12px;
          float: right;
          border: 1px;
          border-top-right-radius: 4px;
          margin-right: 5px;
          margin-left: 5px;
          margin-top: 3px;
          border-bottom-right-radius: 4px;
        }

        .measure.good:before {
          background-color: #addd8e;
        }

        .measure.regular:before {
          background-color: #fad976;
        }

        .measure.bad:before {
          background-color: #ef6548;
        }

        .measure.none:before {
          background-color: #bababa;
        }
      }

      .national.chart {
        height: 430px;
        padding-bottom: 20px;
        width: 100%;

        .description text {
          font-size: 13px !important;
        }

        g.marker {
          rect {
            pointer-events: all;
          }
        }

        g {
          pointer-events: all;
        }
      }
    }
  }
}
