@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Josefin+Slab|Arvo|Lato|Vollkorn|Abril+Fatface|Old+Standard+TT|Droid+Sans|Lobster|Inconsolata|Montserrat|Playfair+Display|Karla|Alegreya|Libre+Baskerville|Merriweather|Lora|Archivo+Narrow|Neuton|Signika|Questrial|Fjalla+One|Bitter|Varela+Round);
@import "../base.scss";

.tooltip {
  border: 1px solid red;
  min-height: 30px;
  position: absolute;
}

.national.container {
  margin: auto;
  width: $page-width;

  .national.title {
    background-color: #FFF;
    border-bottom: 2px solid $border-color;
    height: 54px;
    color: #73a745;
    margin-top: 50px;
    margin-bottom: 20px;

    p {
      font-size: 36px;
      line-height: 36px;
      float: left;
      margin: 0;
    }
  }

  .national.title::before {
    content: '';
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 17px;
    margin-left: 0;
    background-image: url("/icon_microdata.png");
    background-repeat: no-repeat;
    background-size: 32px 35px;
  }

  .national.description {
    background-color: #FFF;
    display: block;
    height: 100px;

    p {
      font-size: 18px;
      float: left;
      margin: 0;
      color: #646464;
    }
  }
  //------------->
  .buttons {
    div {
      cursor: pointer;
    }
  }

  .add {
    margin-right: auto 0;
    cursor: pointer;
  }

  .remove {
    cursor: pointer;
  }

  .aling.rigth {
    text-align: right;
    padding-right: 10px;
    margin-bottom: 20px;
  }

  .national.chart.container {
    width: 100%;

    .national.filter.container {
      display: block;
      clear: both;
      width: 100% !important;
      height: 55px;



      .ui.fluid.dropdown {
        width: 100% !important;
        display: block;
        color: #646464;
        background-color: #f9f9f9;
        height: 52px;
        margin: 0;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 5px;
        border: 1px solid $border-color;
        border-radius: 3px;

        .text {
          line-height: 40px;
          margin: auto;
          width: 90%;
          font-size: 16px;
          overflow: hidden;
          height: 40px;
        }

        .divider {
          display: none;
        }

        div.tooltip {
          position: absolute;
          text-align: center;
          width: 120px;
          padding: 2px;
          font: 12px $font;
          background: $color-green;
          border: 0;
          border-radius: 8px;
          pointer-events: none;
        }

        div.checkbox {
          margin-left: 5px;
          margin-right: 5px;
          width: 15px;
          height: 15px;
          float: left;
          margin-top: -2px;
          border: 1px solid $border-color;
          border-radius: 4px;
        }

        div.checkbox.checked {}

        div.checkbox.checked::before {
          content: '';
          background-color: #8dc63f;
          margin-left: -1px;
          margin-right: 5px;
          width: 15px;
          height: 15px;
          float: left;
          margin-top: -1px;
          border: 1px solid $border-color;
          border-radius: 4px;
          position: absolute;
          padding-left: 2px;
        }
      }

      .options{
        overflow: hidden;
      }

      .dropdown.icon {
        float: right;
        margin-right: 5px;
        margin-top: 5px;
      }

      .item {
        cursor: pointer !important;
      }

      .filter.item.indicator {
        width: 70%;
        padding-right: 5px;
      }

      .filter.item.indicator.wide {
        width: 100%;
        padding-right: 5px;
      }

      .filter.item.color {
        width: 30%;
      }

      .filter.item {
        float: left;
        cursor: pointer;

        .text {
          padding-left: 4px;

          .breadcrums {
            span {
              font-size: 11px;
            }
          }
        }
      }
    }

    .national.chart {
      background-color: #f9f9f9;
      border: 1px solid $border-color;
      border-radius: 4px;
      display: block;
      height: 430px;
      padding-bottom: 20px;
      width: 100%;
      text{
        font-size: 13px !important;
      }
    }
    margin-bottom: 40px;
  }
}
