@import "../../../base";

.home-weather {
  width: $page-width;
  margin: auto;
  height: 706px;

  .st-column {
    background-color: #FFF;
    height: 706px;
  }

  .weather-content.big {
    img {
      display: block;
      margin-top: -125px;
      margin-bottom: 20px;
    }
  }

  .weather-content {
    display: flex;
    flex-direction: column;
    height: 706px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .weather-separator {
      width: 52px;
      height: 7px;
      background-color: #c59a31;
      margin: 0 auto 26px;
    }

    .weather-content-text.big {
      margin-bottom: 71px;
    }

    .weather-content-text {
      display: block;
      text-align: center;
      z-index: 1000;
      text-align: center;

      .weather-content-title.big {
        font-size: 30px!important;
      }

      .weather-content-title {
        font-size: 22px;
        letter-spacing: -1px;
        line-height: 29px;
        color: #497423;

        text-align: center;
        margin-bottom: 19px;
      }

      .weather-content-subtitle {
        width: 240px;
        font-size: 17px;
        letter-spacing: -1px;
        line-height: 25px;
        color: #505050;
        font-weight: 700;
        text-align: center;
        font-weight: normal;
      }

      .weather-content-subtitle.big {
        width: auto !important;
        font-weight: 600;
      }
    }
  }

  .btn-learn {
    margin-top:75px;
    background-color: #497423;
    height: 52px;
    border-radius: 8px;
    width: 332px;
    text-align: center;
    line-height: 52px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
  }
}
