@import '../../base';

.graphic-page {
  .graphic-menu {
    .ui.sticky, .ui.stuck-container {
      position: fixed;
      top: $header-height !important;
      width: 100%;
      /* WebKit-based browsers will ignore this. */
      width: -moz-available;
      /* Mozilla-based browsers will ignore this. */
      width: -webkit-fill-available;
      width: stretch;
    }

    .item {
      background-color: #e8edf1;
      padding: 0;

      .link {
        height: 25px;
        font-size: 12px;
        font-weight: 600;
        color: #a6a6a6;
        padding: $menu-entry-padding 0;
        display: flex;
        align-items: center;
      }

      :before {
        top: unset;
        border-left: 1px solid #8d8d8d;
        height: 21px;
      }
      img:not(.ui) {
        border: unset;
        width: 16px;
        margin-right: 5px;
      }
      .icon {
        width: 16px;
        margin-right: 5px;
      }
    }
    .item.active {
      background: inherit;
      .link {
        color: #50769b;
      }
      .icon.masked-icon {
        background: #50769b;
      }
    }
  }

  .graphics {
    margin-top: 0;
    border: 0;
    padding-top: $menu-entry-height;

    .tooltips.white {
      background-color: #FFF !important;
    }
    .tooltips.black {
      color: #FFF;
      background-color: #222C3C !important;
    }

    .indicators.content {
      .tooltips {
        overflow: auto;
        line-height: 28px;
        margin: 0;
        border-radius: 3px;
        background-color: #EEE;
        padding: 0 10px;
        width: auto;
        .label {
          float: left;
        }

        .color {
          width: 4px;
          float: left;
          height: 28px;
          margin-right: 10px;
          margin-left: -6px;
        }

        .x {
          float: left;
          margin: 0;
        }

        .y::before {
          content: ' : ';
          margin: 2px;
        }

        .y {
          float: left;
          margin: 0;
          padding: 0;
        }
      }

      .chart {
        .container {
          .tooltips {
            .label:after {
              content: none;
              margin: unset;
            }
          }
        }
      }
    }

  }
}
