@import '../../base';

.indicators.content {
  .tooltips {
    overflow: auto;
    line-height: 28px;
    margin: 0;
    border-radius: 3px;
    background-color: #EEE;
    padding: 0 10px;
    width: auto;
    .label {
      float: left;
    }

    .color {
      width: 4px;
      float: left;
      height: 28px;
      margin-right: 10px;
      margin-left: -6px;
    }

    .x {
      float: left;
      margin: 0;
    }

    .y::before {
      content: ' : ';
      margin: 2px;
    }

    .y {
      float: left;
      margin: 0;
      padding: 0;
    }
  }

  .chart {
    .container {
      .tooltips {
        .label:after {
          content: none;
          margin: unset;
        }
      }
    }
  }
}
