@import '../../base';

.indicators.content.fixed {
  padding-top: unset;

  .tooltips {
    overflow: auto;
    line-height: 28px;
    margin: 0;
    border-radius: 3px;
    background-color: #EEE;
    padding: 0 10px;
    width: auto;
    .label {
      float: left;
    }

    .color {
      width: 4px;
      float: left;
      height: 28px;
      margin-right: 10px;
      margin-left: -6px;
    }

    .x {
      float: left;
      margin: 0;
    }

    .y::before {
      content: ' : ';
      margin: 2px;
    }

    .y {
      float: left;
      margin: 0;
      padding: 0;
    }
  }

  .chart {
    .container {
      .tooltips {
        .label:after {
          content: none;
          margin: unset;
        }
      }
    }

    .toggler.view {
      display: unset;
    }

    display: flow-root;
  }
}

.indicator.chart.filter {
  .text {
    .breadcrums {
      .filterName {
        font-weight: 600;
        font-size: 12px !important;
      }
    }
  }
  .description {
    font-size: 11px;
  }
}
th {
  .indicator.chart.filter {
    display: unset;
    border: 0 !important;

    .filter.item {
      margin-left: unset !important;
      width: 90%;


      .ui.fluid.dropdown {
        margin-left: unset !important;
        min-width: unset !important;

        .dropdown.icon::before {
          background-image: unset !important;
        }

      }
    }
  }
}
