@import "../base.scss";

.home-links-container {
  margin: 97px auto auto;
  width: $page-width;
  text-align: left;

  .home-links {
    width: 1100px;
    height: 400px;
    margin: auto;

    .col_1 {
      float: left;
      width: 690px;

      .presented-title {
        font-size: 24px;
        letter-spacing: -1px;
        line-height: 54px;
        color: #777777;
        font-weight: 800;
        float: left;
        line-height: 69px;
      }

      .logo {
        float: right;
        background-image: url("/logo-ipar.png");
        width: 163px;
        height: 69px;
        margin-left: 10px;
        background-repeat: no-repeat;
      }

      .presented-text {
        padding-top: 35px;
        font-size: 28px;
        letter-spacing: -1px;
        line-height: 38px;
        color: #497423;
        font-family: "Open Sans";
        font-weight: 700;
        margin-right: 100px;
        clear: both;
      }
    }

    .col_2 {
      float: left;
      width: 163px;

      .presented-image {
        width: 386px;
        height: 380px;
        background-image: url("/image-screen.png");
      }
    }
  }

  .links-nav-bar {
    width: 1173px;
    margin: auto;
    border: 2px solid #729156;
    height: 62px;

    .link {
      width: 391px;
      height: 62px;
      box-sizing: border-box;
      float: left;
      border-left: 1px solid #6d8e50;
      border-right: 1px solid #6d8e50;
      line-height: 62px;
      margin: auto;
      box-sizing: border-box;

      .btn {
        margin-right: 10px;
        clear: both;
        margin: auto;
        width: 215px;

        .icon {
          width: 31px;
          height: 62px;
          float: left;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: left center;
        }

        .label {
          a{
            text-decoration: none;
            color: #73a745 !important;
          }
          line-height: 62px;
          font-size: 24px;
          color: #73a745 !important;
          font-family: "Open Sans";
          font-weight: 700;
        }
      }
    }

    .link.active {
      background-color: #497423;
      a{
        text-decoration: none;
        color: #ffffff !important;
      }
      .label {
        color: #ffffff;
      }
    }
    //microdata
    .link.microdata {
      .icon {
        background-image: url("/icon_microdata_regular.png");
      }
    }

    .link.active.microdata {
      .icon {
        background-image: url("/icon_microdata_active.png");
      }
    }
    //indicator
    .link.indicator {
      .icon {
        background-image: url("/icon_indicators_regular.png");
      }
    }

    .link.active.indicator {
      .icon {
        background-image: url("/icon_microdata_active.png");
      }
    }
    //
    .link.market {
      .icon {
        background-image: url("/icon_market_regular.png");
      }
    }

    .link.active.market {
      .icon {
        background-image: url("/icon_market_active.png");
      }
    }
  }

  .explanation {
    padding-top: 50px;
    margin: auto;
    width: 1034px;
    height: 206px;
    font-size: 18px;
    line-height: 28px;
    color: #4c4c4c;
    font-weight: 600;
  }

  .source {
    padding-left: 40px;
    padding-top: 40px;
    font-size: 16px;
    line-height: 28px;
    color: #4c4c4c;
    font-weight: 600;
    font-style: italic;

    .source-icon {
      height: 26px;
      margin-right: 12px;
      background-position: center;
      width: 15px;
      background-image: url("/icon-source.png");
      background-repeat: no-repeat;
      float: left;
    }
  }

  .source-separator {
    width: 1366px;
    margin-top: 60px;
    margin-bottom: 83px;
    border-bottom: 2px solid #cbcbcb;
  }
}
