@import "../base.scss";

.home-links-container {
  margin: 78px auto auto;
  width: $page-width;
  text-align: left;

  .home.presented.by {
    width: 1100px;
    height: 450px;
    margin: auto;

    .col_1 {
      float: left;
      width: 690px;

      .presented.title {
        font-size: 18px;
        font-weight: bolder;
        letter-spacing: -1px;
        line-height: 54px;
        color: #777777;
        float: left;
        line-height: 58px !important;
      }

      .presented.logo, .presented.logo1 {
        float: right;
        background-image: url("/logo-ipar.jpg");
        width: 163px;
        height: 69px;
        margin-top: -10px;
        margin-left: 10px;
        background-repeat: no-repeat;
      }

      .presented.logo1 {
        width: 113px;
        height: 91px;
        background-size: 113px 91px;
        background-image: url("/logo-ansd.jpg");

      }

      .presented.text {
        padding-top: 35px;
        font-size: 30px;
        line-height: 38px;
        color: #497423;
        margin-right: 57px;
        clear: both;
      }
    }

    .col_2 {
      float: left;
      width: 163px;

      .presented.image {
        width: 386px;
        height: 380px;
        background-image: url("/image-screen.jpg");
      }
    }
  }

  .home-links-tabs {
    width: 1173px;
    border-radius: 0;
    margin: auto;

    .item.link::before {
      display: none;
    }

    .item.link::after {
      display: none;
    }

    .item.link:hover {
      background-color: #FFF;
    }

    .item.link.active:hover {
      background-color: #497423;
    }

    .item.link.active {
      background-color: #497423;
      color: #FFF!important;
      font-weight: 600;
    }

    .item.link {
      align-items: center;
      justify-content: center;
      border-radius: 0;
      width: 391px;
      height: 62px;
      line-height: 62px;
      font-size: 24px;
      color: $color-ligth-green !important;
      font-family: "Open Sans";
      border-left: 1px solid #6d8e50;
      border-right: 1px solid #6d8e50;
      border-top: 1px solid #6d8e50 !important;
      border-bottom: 1px solid #6d8e50 !important;
      line-height: 62px;

      .icon {
        background-image: none;
        width: 31px;
        height: 62px;
        float: left;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: left center;
      }
    }

    .item.link.microdata {
      .icon {
        background-image: url("/icon_microdata_regular.png");
      }
    }

    .active.item.link.microdata {
      .icon {
        background-image: url("/icon_microdata_active.png");
      }
    }
    //indicator
    .item.link.indicator {
      .icon {
        background-image: url("/icon_indicators_regular.png");
      }
    }

    .active.item.link.indicator {
      .icon {
        background-image: url("/icon_microdata_active.png");
      }
    }
    //
    .item.link.market {
      .icon {
        background-image: url("/icon_market_regular.png");
      }
    }

    .active.item.link.market {
      .icon {
        background-image: url("/icon_market_active.png") !important;
      }
    }

    .explanation {
      margin: auto;
      padding: 20px;
      height: 206px;
      font-size: 18px;
      line-height: 28px;
      color: #4c4c4c !important;
      font-size: 18px;
      font-family: $font;

      .source-separator {
        width: 1366px;
        margin-top: 60px;
        margin-bottom: 83px;
        border-bottom: 2px solid #cbcbcb;
      }

      .source {
        display: none;
        padding-left: 40px;
        padding-top: 40px;
        font-size: 16px;
        line-height: 28px;
        color: #4c4c4c;
        font-weight: 600;
        font-style: italic;

        .source-icon {
          height: 26px;
          margin-right: 12px;
          background-position: center;
          width: 15px;
          background-image: url("/icon-source.jpg");
          background-repeat: no-repeat;
          float: left;
        }
      }
    }
  }
}
