@import "../base.scss";

.home-stories {
  width: $page-width;
  margin: auto;

  .st-row {
    margin-top: 20px;
    height: 440px;
  }

  .st-column {
    height: 440px;
  }

  .image {
    width: 100%;
    height: 440px;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    a{
      text-decoration: none;
      color: #FFF;
    }
    .image-text {
      text-align: center;
      display: block;
      z-index: 1000;
      margin: auto;
      font-size: 28px;
      letter-spacing: -1px;
      line-height: 30px;
      font-weight: 800;
      text-align: center;
      padding: 10px;
      .image-sub-title {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  .image::before {
    position: absolute;
    content: '';
    height: 440px;
    width: 908px;
    background-color: #000;
    opacity: 0.5;
  }

  .st-column-6 {
    .image::before {
      width: 908px;
    }
  }

  .st-column-4 {
    .image::before {
      width: 450px;
    }
  }

  .st-column-3 {
    .image::before {
      width: 450px;
    }
  }
}
