@import '../../../base';

#anchor\.indicator\.global\.population\.short {



  .sdg.icon{
    float: left;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 17px;
    margin-left: 3px;
    margin-top: 12px;

    background-size: 48px 48px;
  }

  .ui.pointing.menu {
    .active.item{
        font-weight: 800;

    }


    .item:nth-child(1) {

      .icon {
        background-image: url("/icons/icon_bar_char.svg");
        background-repeat: no-repeat;
      }
    }

    .active.item:nth-child(1) {
      .icon {
        background-image: url("/icons/icon_bar_char_active.svg") ;
        background-repeat: no-repeat;
      }
    }

    .item:nth-child(2) {
      .icon {
        background-image: url("/icons/icon_bar_char.svg");
        background-repeat: no-repeat;
      }
    }

    .active.item:nth-child(2) {
      .icon {
        background-image: url("/icons/icon_bar_char_active.svg");
        background-repeat: no-repeat;
      }
    }

    .item:nth-child(3) {
      border-right: 0px;

      .icon {
        background-image: url("/icons/icon_line_char.svg");
        background-repeat: no-repeat;
      }
    }

    .active.item:nth-child(3) {
      .icon {
        background-image: url("/icons/icon_line_char_active.svg");
        background-repeat: no-repeat;
      }
    }

    .item:nth-child(4) {
      .icon {
        background-image: url("/icons/icon_line_char.svg");
        background-repeat: no-repeat;
      }
    }

   .active.item:nth-child(4) {
      .icon {
        background-image: url("/icons/icon_line_char_active.svg");
        background-repeat: no-repeat;
      }
    }
  }
}
