@import '../../base';

.footer {
  box-sizing: border-box;
  height: 297px;
  background-color: #333333;
  padding-left: 20px;
  width: 100%;
  position: relative;
  z-index: 960;

  .st-row {
    margin: auto;
    height: 93px;
    border-bottom: 2px solid #5c5c5c;
    @include lg {
      margin-left: $menu-max-width;
    }
  }
  .st-row:nth-child(2){
    border: 0px;
  }

  .footer-share-bar {
    float: left;
    height: 93px;
    display: flex;

    .share-icon {
      margin: auto;
      background-image: url("/icons-share-footer.jpg");
      height: 19px;
      width: 19px;
      background-repeat: no-repeat;
      margin-left: 10px;
      float: left;
    }

    .fb {
      background-position: -34px 0;
    }

    .in {
      background-position: -69px 0;
      display: none;
    }

    .inst {
      display: none;
      background-position: -104px 0;
    }
  }


    .footer-share-bar.right {
      float: right;
      margin-right: 248px;
    }

  .footer-nav-bar {
    float: right;
    height: 93px;
    display: flex;

    .nav {
      height: 26px;
      line-height: 26px;
      float: left;
      margin: auto 12px;
      display: block;
    }

    .link {
      display: none;
      font-family: "Montserrat";
      font-size: 14px;
      color: #fefefe;
      font-weight: 700;
      text-align: center;
    }
  }

  .footer-text {
    font-size: 11px;
    line-height: 30px;
    color: #999999;
    font-family: "Montserrat";
    font-weight: 400;
    width: 300px;
    text-align: left;
    b{
      font-weight: bolder;
    font-size: 13px;
    color: #FFF;
    }
  }

  .footer-text:nth-child(1n) {

    float: left;
  }

  .footer-text:nth-child(2n) {

    float: right;
  }
}
