@import '../../base';

.ui.grid.page-layout {
  padding-top: $header-height;
}

.page-layout {
  min-height: calc(100vh - 297px + 2rem);

  .menu {
    .ui.sticky {
      top: $header-height !important;
      position: fixed;
      width: inherit;
    }
  }

  .column.menu {
    flex: 0 0 min-content;
  }

  .page-content {
    flex: 1 0 auto;
    width: auto;
    padding-left: unset !important;
  }
}
