@import '../../base';

.ui.grid.page-layout {
  @if $hide-header {
    margin-top: -38px;
    >.row {
      padding-top: 0;
    }
  }
  @include hlg {
    padding-top: $ad3-cnsc-header;
    margin-top: 0;
    >.row {
      padding-top: 0;
    }
  }
  @include ad3user {
    padding-top: $ad3-cnsc-header-small;
  }
}

.page-layout {
  min-height: calc(100vh - 297px + 2rem);

  .page-menu.menu {
    .ui.sticky {
      position: fixed;
      width: inherit;
      z-index: 0;
    }
    .relative {
      position: relative !important;
    }
    .top {
      @if $hide-header {
        margin-top: -38px;
      }
      @include hlg {
        top: $ad3-cnsc-header !important;
        margin-top: 0;
      }
      @include ad3user {
        top: $ad3-cnsc-header-small !important;
      }
    }
    .bottom {
      top: unset;
      bottom: $footer-height;
    }
  }

  .column.menu {
    flex: 0 0 min-content;
    .IE & {
      flex: 0 0 222px;
    }
    min-width: -webkit-max-content;
    padding-right: unset !important;
  }

  .page-content {
    flex: 1 0 auto;
    width: auto;
    padding-left: unset !important;
  }
}
