@import '../../base';

.bulletins-container {

  .ui.segment.page-header {
    padding: 0 0 0 0.5rem;

    .indicator.chart.filter {
      display: inline-block;
      height: auto;
    }
  }

  .ui.segment.bulletins-content {
    padding-top: 1.5rem;

    .bulletin-year {
      padding-bottom: 50px;

      .ui.segment.year {
        padding: 0 0 1rem 0;

        .title {
          font-size: 20px;
          color: $color-green;
          font-weight: 600;
          padding-right: 1rem;
        }
        .header-cell {
          padding-right: 1rem;
        }
        .annual-download {
          position: absolute;
          margin: auto;
        }
        span {
          display: inline-block;
        }
      }

      .ui.table {
        border-radius: 0;
        border: 0;

        thead {
          tr:first-child > th:last-child {
            border-radius: 0;
          }
        }

        th {
          border-right: $border;
          border-top: $border;
          border-bottom: $border;
          text-align: center;
          height: 50px;
        }
        th.decadal-header {
          border-top: 0;
        }
        th.decadal {
          font-size: 1rem;
          color: #7f8fa4;
          font-weight: 600;
          text-align: left;
          padding-left: 1rem;
          border-left: $border;
          border-top: 0;
        }
        td {
          border-right: $border;
          border-bottom: $border;
          border-top: 0;
          text-align: center;
          vertical-align: middle;
        }

        tr:first-child, tr:last-child {
          th, td {
            border-bottom: $border;
          }
        }
      }

      .header-cell {
        font-size: 12px;
        color: $color-blue;
        font-weight: 700;
      }

      .icon-pdf-download {
        width: 26px;
        height: 26px;
        cursor: pointer;
      }
    }
  }

}
