@import "../../base";

.home-links-container {
  margin: 48px auto 48px auto;
  width: $page-width;
  color: #777777;
  display: flex;
  justify-content: center;
  text-align: left;

  .home-links-image {
    width: 1006px;

    .pane-icon {
      display: block;
      width: 270px;
      height: 160px;
    }

    .pane-title {
      font-weight: bold;
    }
  }
}
