@import "../../base";

$home-wide: 900px;
$module-wide-width: 270px;

.home-links-container {
  margin: 48px auto 48px auto;
  max-width: 900px !important;

  .ui.grid .row {

    .column {
      flex-shrink: 1;
      flex-basis: 0;
      .IE & {
        flex-basis: auto;
        width: auto;
        max-width: $module-wide-width;
      }
      margin-bottom: 20px;

      justify-content: space-around;
      min-width: fit-content;
    }
  }

  .home-links-image {
    border: 1px solid #E6EAEE;
    border-radius: 5px;
    .IE & {
      width: 270px;
    }

    .pane-icon {
      display: block;
      width: $module-wide-width;
      max-width: 100%;
      height: 160px;
      border-radius: 5px 5px 0 0;
    }

    .pane-text {
      padding: 10px;
      max-width: $module-wide-width;

      .pane-title {
        font-weight: 600;
        color: $color-dark-gray !important;
      }

      .pane-description {
        color: #848C98 !important;
      }
    }
  }
}
