@import '../../../base';
@import '../graphic/indicator-base';

$legend-font-size: 11px;
$legend-weight: 600;
$legend-padding-right: 10px;

.custom-legend-item {
  display: inline-flex;
  align-items: center;
  padding-left: $graphic-title-left-padding;
  height: 100%;
  line-height: 11px;
  font-size: $legend-font-size;
  color: $legend-color;
  font-weight: $legend-weight;

  span:first-of-type {
    padding-right: $legend-padding-right;
  }

  .symbol {
    display: inline-flex;
    align-items: center;
  }

  .legend-item-label {
    white-space: nowrap;
  }

  &.clickable {
    cursor: pointer;
  }
}
