@import '../../../base';
@import '../graphic/indicator-base';

.custom-legend-item {
  display: inline-flex;
  align-items: center;
  padding-left: $graphic-title-left-padding;
  height: 100%;
  line-height: 11px;
  font-size: 11px;
  color: #364833;
  font-weight: 600;

  span:first-of-type {
    padding-right: 10px;
  }

  .symbol {
    display: inline-flex;
    align-items: center;
  }

  &.clickable {
    cursor: pointer;
  }
}
