<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <table class="table table-bordered progress-status-table">
        <tr>
            <th scope="col"><span wicket:id="locationLabel">[[Location]]</span></th>
            <th scope="col"><span wicket:id="statusLabel">[[Status]]</span></th>
        </tr>
        <tr wicket:id="rows">
            <td><span wicket:id="location"></span></td>
            <td wicket:id="status">&nbsp;</td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>
