<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <table class="table table-bordered progress-status-table tab-product-price-and-availability-status">
        <tr>
            <th scope="col" rowspan="2" class="col-product-type"><span wicket:id="productTypeLabel">[[Product type]]</span></th>
            <th wicket:id="status" scope="col"><span wicket:id="label">[[Status]]</span></th>
        </tr>
        <tr>
            <th wicket:id="months" scope="col"><span wicket:id="label">[[January]]</span></th>
        </tr>
        <tr wicket:id="rows">
            <td><span wicket:id="productType"></span></td>
            <td wicket:id="statuses">&nbsp;</td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>
