<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <table class="table table-bordered progress-status-table">
        <tr>
            <th wicket:id="status" scope="col"><span wicket:id="label">[[Status]]</span></th>
        </tr>
        <tr>
            <th wicket:id="months" scope="col"><span wicket:id="label">[[January]]</span></th>
        </tr>
        <tr>
            <th wicket:id="decadals" scope="col"><span wicket:id="label">[[1]]</span></th>
        </tr>
        <tr>
            <td wicket:id="statuses">&nbsp;</td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>
