<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <table class="table table-bordered progress-status-table">
        <tr>
            <th scope="col"><span wicket:id="postLabel">[[Post]]</span></th>
            <th scope="col"><span wicket:id="statusLabel">[[Status]]</span></th>
        </tr>
        <tr wicket:id="rows">
            <td><span wicket:id="post">[[Kidira]]</span></td>
            <td wicket:id="status"></td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>
