@import '../base.scss';
@import '../base.scss';

.indicator.chart.container.aoi {

.indicator.chart.title.aoi::before {
  content: '';
  width: 47px;
  height: 47px;
  float: left;
  margin-right: 17px;
  margin-left: 0;
  margin-top: 12px;
  background-image: url("/sdg/12.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}


.ui.pointing.menu{
.item:nth-child(1) {
  .icon{
    background-image: url('/icon_bar_chart.png');
    background-repeat:no-repeat;
    }
}
.item:nth-child(2) {
  .icon{
    background-image: url('/icon_line_chart.png');
    background-repeat:no-repeat;
    }
}
.item:nth-child(3) {
  .icon{
    background-image: url('/icon_bar_chart.png');
    background-repeat:no-repeat;
    }
}

.item:nth-child(4) {
  .icon{
    background-image: url('/icon_line_chart.png');
    background-repeat:no-repeat;
    }
}
}
}
