@import '../base.scss';

#anchor\.indicator\.global\.women\.short {
  .indicator.chart.title.women::before {
    content: '';
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 17px;
    margin-left: 0;
    margin-top: 12px;
    background-image: url("/sdg/5.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .sub.tab {
    .item:nth-child(1) {
      .icon {
        background-image: url("/icon_bar_char.svg");
        background-repeat: no-repeat;
      }
    }

    .item:nth-child(2) {
      .icon {
        background-image: url("/icon_line_char.svg");
        background-repeat: no-repeat;
      }
    }

    .item:nth-child(3) {
      .icon {
        background-image: url("/icon_bar_char.svg");
        background-repeat: no-repeat;
      }
    }

    .item:nth-child(4) {
      .icon {
        background-image: url("/icon_line_char.svg");
        background-repeat: no-repeat;
      }
    }
  }

  .dropdown.icon{
    background-image: none !important;

  }
  .menu{
    min-width: 100%;
  }
}
