@import '../base.scss';

.indicator.chart.container {
  border: 1px solid blue !important;
}
@import '../base.scss';

.indicator.chart.title.women::before {
  content: '';
  width: 47px;
  height: 47px;
  float: left;
  margin-right: 17px;
  margin-left: 0;
  margin-top: 12px;
  background-image: url("/sdg/5.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}
