@import "../../../base";
@import "~leaflet/dist/leaflet.css";

.legend {
  max-width: 1266px;
  height: 35px;
  line-height: 35px;

  text {
    font-size: 11px !important;
  }
}

.map-container {
  position: relative;
}

.map {
  max-width: 1266px;
  height: 500px;

  .tooltips {
    span.label {
      float: none !important;
    }
  }
}

.map-graphic .source {
  position: relative;
  z-index: 800;
  color: $color-dark-gray;

  .source.label {
    color: $color-dark-gray;
  }
}
