@import '../base.scss';

.header {
  .header-nav {
    margin: auto;
    height: 50px;
    border-bottom: 2px solid #90b47a;
    width: $page-width;
    box-sizing: border-box;
    background-image: url("/header-nav-background.png");

    .header-title {
      float: left;
      line-height: 50px;
      height: 50px;
      width: 60%;

      .title {
        margin-left: 27px;
        font-size: 24px;
        font-weight: bold;
        float: left;
      }

      .legend {
        margin-left: 26px;
        float: left;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  .header-nav-bar {
    float: right;

    .nav.link {
      cursor: pointer;
      line-height: 50px;
      margin-right: 35px;
      float: left;
      font-size: 14px;
      font-weight: 600;
    }

    a {
      cursor: pointer;
      color: #FFF;
      text-decoration: none;
    }
  }
}
