.indicators.content.fixed {
  padding-top: unset;

  .chart {
    .container {
      .tooltips {
        .label:after {
          content: none;
          margin: unset;
        }
      }
    }
    .toggler.view {
      display: unset;
    }
    .period {
      display: flow-root;
    }
  }
}
