
/* in french large numbers use space to separate thousands, this rule keeps the numbers on one line */
.pvtVal, .pvtTotal, .pvtGrandTotal {
    white-space: nowrap;
}

.pvtUi {
    width: 100%;
}
.pvtUnused {
    width: 0;
}
.pvtRows {
    width: 0;
}
.pvtRendererArea {
    width: 100%;
}
