{
    "presets": ["react-app"],
    "plugins": [
        [ "react-intl", {
            "messagesDir": "./build/messages",
            "extractSourceLocation": true
        }],
         ["@babel/plugin-proposal-decorators", { "legacy": true }]
    ]
}
