@import '../../../base';

$graphic-menu-image-size: 16px;
$graphic-link-font-size: 12px;
$graphic-link-padding: #{'max(min(29px, 3vh), 3px)'};

.graphic-page {
  .graphic-menu {

    .ui.sticky, .ui.stuck-container {
      position: fixed;
      z-index: 950;
      @if $hide-header {
        margin-top: -38px;
      }
      @include hlg {
        top: $ad3-cnsc-header !important;
        margin-top: 0;
      }
      @include ad3user {
        top: $ad3-cnsc-header-small !important;
      }
      width: 100%;
      /* WebKit-based browsers will ignore this. */
      width: -moz-available;
      /* Mozilla-based browsers will ignore this. */
      width: -webkit-fill-available;
      width: stretch;
    }

    .item {
      background-color: #e8edf1;
      padding: 0;

      .link {
        height: 25px;
        font-size: $graphic-link-font-size;
        font-weight: 600;
        color: #a6a6a6;
        padding: #{$graphic-link-padding} 0;
        display: flex;
        align-items: center;
      }

      :before {
        top: unset;
        border-left: 1px solid #8d8d8d;
        height: 21px;
      }
      img:not(.ui) {
        border: unset;
        width: $graphic-menu-image-size;
        margin-right: 5px;
      }
      .icon {
        width: $graphic-menu-image-size;
        margin-right: 5px;
      }
    }
    .item.active {
      background: inherit;
      .link {
        color: #50769b;
      }
      .icon.masked-icon {
        background-color: #50769b;
        .IE & {
          background-color: transparent;
        }
      }
    }
  }

  .graphics {
    margin-top: 0;
    border: 0;
    padding-top: calc(1px + 2 * #{$graphic-link-padding});

    .tooltips.white {
      background-color: #FFF !important;
    }
    .tooltips.black {
      color: #FFF;
      background-color: #222C3C !important;
    }

    .indicators.content {
      .graphic-help-icon {
        margin: 7px 15px;
        padding: 9px;
      }

      .tooltips {
        overflow: auto;
        line-height: 28px;
        margin: 0;
        border-radius: 3px;
        background-color: #EEE;
        padding: 0 10px;
        width: auto;
        .label {
          float: left;
        }

        .color {
          width: 4px;
          float: left;
          height: 28px;
          margin-right: 10px;
          margin-left: -6px;
        }

        .x {
          float: left;
          margin: 0;
        }

        .y::before {
          content: ' : ';
          margin: 2px;
        }

        .y {
          float: left;
          margin: 0;
          padding: 0;
        }
        .note {
          display: block;
          clear: left;
          font-size: 10px;
          .info::before {
            content: '\26A0';
            font-size: 14px;
            margin-left: -10px;
          }
        }
      }

      .chart {
        .container {
          .tooltips {
            .label:after {
              content: none;
              margin: unset;
            }
            .label.with-x::after {
              content: '-';
              margin-left: 3px;
              margin-right: 3px;
            }
            .label.with-x.no-separator::after {
              content: '';
              margin-left: 3px;
            }
          }
        }
      }

      .no-data {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100% - 40px);
        font-size: 28px;
        font-weight: 600;
        line-height: 70px;
        color: #666666;
        background-color: #EBEBEB;

        .no-data-message {
          flex-shrink: 1;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
