@import '../../../base';

$graphic-title-left-padding: 21px;

$property-max-height: 64px;
$property-min-height: 44px;
$property-font-size: 12px;

$graphic-content-max-height: 500px;
$graphic-content-min-height: 300px;
$graphic-content-height: 55vh;

$custom-legend-height: 35px;
