@import '../../../base';
@import './indicator-base';
@import '../filter/filter';

.ui.fixed.table {}

.core-filters {
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 1!important;
}

.main.filter {
  margin: auto;
  width: 100%;
  z-index: 1000;
  height: 79px;
  line-height: 79px;
  background-color: $color-green;
  width: $page-width;
  box-sizing: border-box;

  .filter.nav.item.title {
    font-size: 24px;
    padding-left: 75px;
    margin-right: 10px;
    min-width: 240px;
  }

  .filter.nav.separator {
    width: 5px;
    margin-top: 8px;
  }

  .filter.nav.separator:before {
    margin-left: 0;
  }

  .ui.dropdown>.dropdown.icon:before {

    margin-top: 4px;
    background-size:10px 10px !important;
    }

  .filter.nav.item {
    height: 78px;
    font-size: 16px;
    font-weight: normal;
    float: left;
    margin-right: 10px;
    margin-left: 8px;
    cursor: pointer;
    min-width: 210px;
  }

  .filter.nav.btn {
    padding-left: 5px;
    font-size: 15px;
    float: left;
    min-width: 90px!important;
    font-weight: bold;
    text-transform: uppercase;
  }

  .filter.nav.item.download {
    min-width: 100px;
    cursor: pointer;
    height: 79px;
    float: right;
    margin-right: 20px;
  }



  .filter.nav.download {
    .icon {
      margin-top: 15px;
      width: 34px;
      height: 39px;
      margin-left: 5px;
      float: right;
    }

    .xls {
      background-image: url("/icon_white_xls.png");
    }

    .csv {
      background-image: url("/icon_white_csv.png");
    }

    .png {
      background-image: url("/icon_white_png.png");
    }

    .json {
      background-image: url("/icon_white_json.png");
    }
  }

  .filter.item {
    cursor: pointer;

    .text {
      padding-left: 4px;

      .breadcrums {
        span {
          font-size: 12px;
        }
      }
    }

    .menu {
      border-radius: 0;
      border: 1px solid $border-color;
      background-color: #FFF !important;
      border: 0;
      margin-left: -1px;

      .header {
        line-height: 22px;
        padding: 13px 22px;
        margin: 0;
        font-size: 14px;
        color: $color-green;
        text-transform: none;

        span {
          cursor: pointer;
          font-size: 11px;
          color: #000;
        }
      }
    }

    .ui.fluid.dropdown {
      display: block;
      height: 79px;
      margin-right: 10px;
    }

    .dropdown.icon {
      float: none;
    }



    .item {
      cursor: pointer !important;
    }

    .visible {
      color: $color-green;
      background-color: #f6f6f6;
      border: 0 solid $border-color;
    }
  }


  .filter.options {
    width: 400px !important;
    display: flex !important;

   /* You can set flex-wrap and
      flex-direction individually */
   flex-direction: row;
   flex-wrap: wrap;
   /* Or do it all in one line
     with flex flow */
   flex-flow: row wrap;
   /* tweak where items line
      up on the row
      valid values are: flex-start,
      flex-end, space-between,
      space-around, stretch */
         align-content: flex-start;

    max-height: 500px;
    padding: 4px 18px;

    .item {

       width: auto;
      display: block;
      margin: 10px;
      line-height: 28px;
      padding: 0 0 0 0 !important;
    }

    .checkbox {
      margin-top: 6px;
    }
    clear: both;
  }

  div.checkbox {
    margin-left: 5px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: -2px;
    border: 1px solid $border-color;
    border-radius: 4px;
  }

  div.checkbox.checked {}

  div.checkbox.checked::before {
    content: '';
    background-color: #8dc63f;
    margin-left: -1px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: -1px;
    border: 1px solid $border-color;
    border-radius: 4px;
    position: absolute;
    padding-left: 2px;
  }
}


.nav{
    .filter.options{
      .item{
        width: 40% !important;

      }
    }

  }
  .year{
    .filter.options{
      .item{
        width: 20% !important;

      }
    }

  }


.indicators.content {
  color: #818181;
  font-size: 21px;
  min-height: 200px;
  display: block;
  clear: both;
  min-width:  $min-content-width;
  max-width: $max-content-width;
  margin: auto;

  .indicators.title {
    background-color: #FFF;
    border-bottom: 2px solid $border-color;
    height: 54px;
    color: #73a745;
    margin-top: 50px;
    margin-bottom: 20px;

    p {
      font-size: 36px;
      line-height: 36px;
      float: left;
      margin: 0;
    }


  }

  .indicators.title::before {
    content: '';
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 17px;
    margin-left: 0;
    background-repeat: no-repeat;
    background-size: 40px 40px;

    background-image: url("/page_icon_indicator.svg");
  }

  .intro {
    padding: 10px;
    line-height: 25px;
  }

  .column {
    padding: 0;
  }

  .indicator.global.numbers {
    margin: 20px;

    .row {
      padding: 0;
    }

    .column {}
  }

  .indicator.big.number {
    font-size: 100px;
    font-weight: 300;
    color: #818181;
    text-align: center;
    line-height: 174px;

    span {
      margin: auto;
    }
  }

  .indicator.big.number.year {
    font-size: 12px;
    text-align: center;
  }

  .indicator.link {
    height: 40px;
    clear: both;
    display: flex;

    .btn {
      margin: auto;
    }

    .icon.go {
      float: left;
      width: 20px;
      height: 20px;
      background-image: url("/icon_hand.jpg");
      background-repeat: no-repeat;
    }

    a {
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
      color: #497423;
      text-decoration: none;
      float: left;
    }
  }

  .info-text {
    border: 0;
    box-shadow: none;
    line-height: 27px;
    font-size: 12px;
  }

  .info-text.table {
    .column {
      padding: 20px;
    }
  }

  .source {
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    font-size: 12px;
    white-space: nowrap;

    .label {
      float: initial;
      color: $color-green;
      font-weight: 600;
    }
  }

  .source-icon {
    float: left;
    width: 17px;
    height: 18px;
    background-repeat: no-repeat;
    margin-top: 6px;
    background-image: url("/icon-source.jpg");
  }



  .chart.toggler.view {
    display: flex;
    align-items: center;
    float: right;

    input {
      width: 100%;
    }

    .ui.toggle.checkbox {
      display: inline-flex;
      align-items: center;
      margin: 0;

      div {
        font-size: $setting-font-size;
        font-weight: 600;
        color: #a6a6a6;
        margin-left: 0;
      }

      div.active {
        color: #4d4d4d;
      }

      label {
        position: relative;
        float: left;
        margin: 0;
      }
    }

    .ui.toggle.checkbox .box:before {
      height: 16px!important;
      background-color: #FFFF!important;
    }

    .ui.toggle.checkbox .box:before,
    .ui.toggle.checkbox label:before {
      background-color: #FFF !important;
      border: 1px solid #cccccc;
      width: 34px;
      height: 16px;
      margin-left: 16px;
    }

    .ui.toggle.checkbox input:checked~.box:before,
    .ui.toggle.checkbox input:checked~label:before {
      background-color: #fff!important;
    }

    .ui.toggle.checkbox input:checked~.box:after,
    .ui.toggle.checkbox input:checked~label:after {
      left: 34px !important;
    }

    .ui.toggle.checkbox .box:after,
    .ui.toggle.checkbox label:after {
      border: 3px solid $setting-green-color;
      height: 12px;
      width: 12px;
      left: 17px;
      margin-top: 2px;
    }
  }

  .indicators.chart.section {
    padding-top: 1rem;
    margin-bottom: 50px;
  }

  .indicator.chart.title {
    background-color: #e8edf1;
    border-top: 1px solid $border-color;
    border-radius: 5px 5px 0 0;
    max-height: 58px;
    height: calc(21px + 4.5vh);
    min-height: 35px;
    color: #50769b;
    padding-left: 21px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;

    .title-with-download {
      display: inline-block;
      width: 100%;
    }
    p {
      font-size: 21px;
      font-weight: 400;
      letter-spacing: -1px;
      margin: auto 0;
      float: left;
    }

    .icon.group {
      display: flex;
      float: right;
      padding-right: 21px;
      height: 100%;

      .icon-png-download {
        margin: auto;
        width: 35px;
        height: 35px;
      }
    }
  }

  .chart.toggler.view {
    .ui.slider.checkbox {
      display: inline-flex;
      align-items: center;

      label {
        font-size: $setting-font-size;
        top: unset;
      }

      label.active {
        color: #4d4d4d;
      }

      input {
        position: absolute;
        width: 100%;
        z-index: 3;
      }

      .inline {
        display: inline-block;
        label {
          float: left;
        }
      }

      .reversed {
        label {
          padding-left: unset;
        }

        label::before {
          position: relative;
          float: right;
          padding-left: 0;
          width: 1.2rem;
          height: 0.7rem;
          // (line-height 1rem - height 0.7rem) / 2
          top: 0.15rem;
          left: -.25rem;
          background-color: $setting-green-color;
          opacity: 0.6;
        }

        label::after {
          position: relative;
          float: right;
          top: unset;
          left: 1.7rem;
          width: 1rem;
          height: 1rem;
        }

        span {
          padding-right: 0.25rem;
        }
      }

      &.checked {
        .reversed {
          label::after {
            left: 0;
            background-color: $setting-green-color;
          }
        }
      }
    }
  }

  .indicator.filter.options {
    margin-top: -10px;
    margin-left: 20px;
    float: left;
    height: 70px;

    p {
      text-align: center;
      font-size: 12px;
      margin: 0 0 5px;
      font-weight: 600;
    }

    .item.active {
      .checkbox {
        background-color: #8dc63f;
      }
    }

    .item {
      cursor: pointer;
      float: left;
      font-size: 12px;

      .checkbox {
        float: left;
        margin: 2px 3px 0 2px;
      }

      .label {
        float: left;
        margin-left: 0;
        letter-spacing: -1px;
        margin-right: 7px;
        line-height: 20px;
      }
    }
  }

  .filter.disabled.options {
    opacity: 0.5;

    .item {
      .checkbox {
        background-color: #EEE !important;
      }
    }
  }

  .slider.container {
    p {
      text-align: center;
    }

    .rc-slider-track {
      background-color: #65b457 !important;
      height: 8px;
      margin-top: -2px;
    }

    .rc-slider-handle {
      width: 14px;
      height: 14px;
      border: solid 2px #65b457 !important;
    }

    .rc-slider-handle:hover {
      border: solid 2px #65b457 !important;
    }

    .rc-slider-handle:focus {
      border: solid 2px #65b457 !important;
    }

    .rc-slider-handle:active {
      border-color: #65b457 !important;
      box-shadow: none;
    }

    .rc-slider-dot {
      border-color: #65b457;
    }
    font-size: 12px;

    .breadcrumbs {
      border: 1px solid #e6e7ec;
      border-radius: 4px;
      padding: 2px;
      margin-top: 2px;
      font-size: 11px;
    }

    .min {
      float: left;
      margin-left: 2px;
    }

    .max {
      float: right;
      margin-right: 2px;
    }
  }

  .ui.pointing.menu {
    margin: 0;
    width: 100%;
    border-radius: 0;
    border: 1px solid $border-color;
    border-bottom: 0;

    .item{
      border-right: 1px solid $border-color
    }
    .item:before{
      display: none;

    }
    .item:last-child{
      border-right: 0px;
    }

    .item {
      text-align: center;
      justify-content: center;
      flex: 1;
      font-size: 16px;
      color: #818181;
      border-radius: 0 !important;
      height: 75px;
      cursor: pointer;

      .icon {
        display: block;
        width: 25px;
        height: 25PX;
        margin: 0 8px 0 -10px;
      }
    }

    .active.item {
      font-weight: bold;
      background-color: #f6faf5;
    }

    .item::after {
      display: none;
    }
  }

  .sub.tab {
    .ui.pointing.menu {
      .item {
        line-height: 40px;
        height: 40px;
        border-bottom: 0;
      }
    }
  }


  .chart {
    display: flow-root;
  }

  .chart.container {
    border: 1px solid $border-color;
    border-top: 0;
    width: 100%;
    font-size: 12px;
  }

  .graphic-content {
    max-height: $graphic-content-max-height;
    min-height: $graphic-content-min-height;
    height: $graphic-content-height;
  }
  .graphic-content.custom-legend {
    max-height: $graphic-content-max-height - $custom-legend-height;
    min-height: $graphic-content-min-height - $custom-legend-height;
    height: 50vh;
  }

  .indicator.description {
    border: 1px solid $border-color;
    padding: 15px;
    display: flex;
    background-color: #f6faf5;
    font-size: 21px;
    color: #646464;

    p {
      float: left;

        flex-grow: 1
    }

    clear: both;

    .indicator.logo {
      float: left;
      padding-left: 0;
      margin-right: 10px;
      min-width: 40px;
      min-height: 80px;
      display: flex;
      align-items: center;

      img {
        width: 40px !important;
        height: 40px;
      }
    }

    .indicator.name {
      padding-top: 0;
      word-wrap: normal;
      font-size: 18px;
      min-height: 80px;
      display: flex;
      height: auto !important;
      align-items: center;
    }
  }

  .indicator.global.numbers {
    .indicator.description {
      padding: 0;
      background-color: #FFF!important;
      border: 0;
      border-bottom: 1px solid $border-color;
      border-top: 1px solid $border-color;

      .logo {
        margin-left: 19px;
      }

      .name {
        font-size: 16px;
      }
    }
  }

  .indicator.chart.properties {
    display: flow-root;
    border-bottom: 1px solid $border-color;

    .filter, .setting {
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
    }

    .filter.options {
      display: block;
    }
  }

  .indicator.chart.setting {
    max-height: $property-max-height;
    min-height: $property-min-height;
    height: calc(12px + 4.5vh);

    .setting.item {
      float: left;
      margin-left: 21px;
    }
    .separator:before {
      margin: auto $property-font-size;
    }
  }

  .indicators.chart.poverty {
    font-size: $property-font-size;
    width: 100%;
    margin-bottom: 20px;

    text {
      text-transform: capitalize;
    }
  }
}
