@import '../../../base';

.map-graphic.rainfall-map {
  .map-title {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 61px;
    color: $color-blue;
    font-weight: 400;
    padding-left: 21px;
  }

  .map-container {
    .map.leaflet-container {
      background-color: #fff;

      border: $border;
      border-collapse: collapse;

      .leaflet-control-attribution.leaflet-control {
        display: none;
      }
    }
  }

  .source {
    position: relative;
    z-index: 600;
  }
}
