@import '../../../base';

$menu-border-color: #e1e1e1;

.menu-nav-bar {
  display: inline-block;
  height: 100%;
  width: $menu-max-width;
  min-height: $menu-height;
  background-color: #f0f0f0;
  border-collapse: collapse;

  .nav.menu {
    border-style: solid;
    border-color: $menu-border-color;
    border-width: 0 1px 1px 0;

    img {
      max-height: 25px;
      margin-right: 20px;
    }
    &.home-icon {
      img {
        max-height: 30px;
        margin-left: -10px;
      }
    }
  }

  .nav.menu.active {
    background-color: $color-green;
    a {
      color: $color-white;
    }
  }
  .nav.menu.active:not(.home-icon) {
    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(150%);
    }
  }

  .nav.link.menu {
    height: 25px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    margin: 0 20px;
    padding: $menu-entry-padding 0;
    display: flex;
    align-items: center;
    border: none;
  }

  a {
    cursor: pointer;
    color: $color-green;
    text-decoration: none;
  }

  .ui.divider {
    border-top-color: $menu-border-color !important;

  }
}

.menu-nav-bar.closed {
  width: 60px;

  .nav.link.menu {
    margin: 0 15px;
  }

  img {
    margin-right: unset !important;
  }
  .home-icon {
    img {
      height: 30px;
    }
  }

  .title {
    display: none;
  }
}

.menu-nav-bar.opened {
  .open-or-close {
    img {
      transform: scaleX(-1)
    }
  }

  .entry-description {
    font-size: 12px;
    color: #414141;
    padding: 20px;
    text-align: justify;

    border-bottom: 1px solid $menu-border-color;
  }
}
