@import "../../../base";
@import "../../common/graphic/indicator-base";
@import "~leaflet/dist/leaflet.css";

.leaflet-container {
  background-color: #CFEAF3;
}

.legend {
  max-width: 1266px;
  height: $custom-legend-height;
  line-height: $custom-legend-height;

  text {
    font-size: 11px !important;
  }
}

.map-container {
  position: relative;
}

.graphic-page .graphics .indicators.content {
  .map {
    max-width: 1266px;
    max-height: $graphic-content-max-height;
    min-height: $graphic-content-min-height;
    height: 57vh;

    .leaflet-top, .leaflet-bottom {
      z-index: 600;
    }
  }
}
