$color: #747474;
$font: 'Open Sans', sans-serif;
$page-width: 1366px;
$min-content-width: 200px;
$max-content-width: 1266px;

$border-color:#e6e7ec;
$color-white: #FFF;
$color-green: #569e4d;
$color-ligth-green:#8ab563;
$color-dark-gray: #354052;

// TODO (SCROLLING_MENU) make them exportable for reuse in menu display while scrolling
$header-height: 70px;
$footer-height: 297px;
$menu-entry-padding: 29px;
$menu-entry-height: 2 * $menu-entry-padding;
$menu-height: $menu-entry-height * 6;
$menu-max-width: 250px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}
