@import './base.scss';

body,
html {
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $font;
  color: $color;
}

.st-row {
  clear: both;
  display: block;
  clear: both;
  margin-bottom: 8px;
}

.st-column {
  margin-right: 8px;
  box-sizing: border-box;
  float: left;
}

.st-column-6 {
  width: 908px;
}

.st-column-4 {
  width: 450px;
  margin-right: 0;
}

.st-column-3 {
  width: 450px;
  box-sizing: content-box;
}

.st-column-3:last-child {
  margin-right: 0;

}
